/*
Name: Kay Nae Oo
Date: 9/22/2026
*/

input:invalid, textarea:invalid .required{
    border: 2px red;
    border-radius: 5px;
}
input:focus:invalid, textarea:focus:invalid .required{
    border: none;
}
